html {
	background-image: url("../images/star-wars.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#h2 {
	font-family: "Press Start 2P", system-ui;
}

#h3 {
	font-family: "Corben", serif;
}
#Ep1:hover,
#Ep2:hover,
#Ep3:hover,
#Ep4:hover,
#Ep5:hover,
#Ep6:hover {
	background-color: #ffe81f;
	transform: scale(1.1);
}

.invisible-placeholder {
	background: transparent;
	border: none;
	visibility: hidden;
}

.custom-background {
	display: inline-block;
	background-color: #f5f5f5;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
	border-radius: 4px;
}

.button {
	background-color: #f5f5f5 !important;
	border-color: #f5f5f5 !important;
	color: #4a4a4a !important;
}

.button:hover {
	background-color: #f5f5f57b !important;
	border-color: #f5f5f5 !important;
	color: #000000 !important;
	font-weight: bold !important;
}

#previousSearches {
	display: flex;
	align-items: center;
}
