html {
	background-image: url("../images/star-wars.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#h2 {
	font-family: "Press Start 2P", system-ui;
}

#h3 {
	font-family: "Corben", serif;
}
#Ep1:hover,
#Ep2:hover,
#Ep3:hover,
#Ep4:hover,
#Ep5:hover,
#Ep6:hover {
	background-color: #ffe81f;
	transform: scale(1.1);
}

.invisible-placeholder {
	background: transparent;
	border: none;
	visibility: hidden;
}
