#h2 {
	font-family: "Press Start 2P", system-ui;
}

#h3 {
	font-family: "Press Start 2P", system-ui;
}
#Ep1:hover,#Ep2:hover,#Ep3:hover,#Ep4:hover,#Ep5:hover,#Ep6:hover{
	background-color: rgb(0, 55, 255);
	transform: scale(1.10);
}
